<footer class="footer">
  <div class="container">

    <!-- FOOTER MAIN ROW -->
    <div class="footer-main">

      <!-- CONTACT -->
      <div class="footer-column">
        <h3>Contact</h3>
        <p>Email:
          <a href="mailto:hristinaeducare24@gmail.com">
    hristinaeducare24@gmail.com
  </a>

        </p>
        <p>Telefon: 
          <a href="tel:+40722664274">+40 722 664 274</a>
        </p>
        <p>Adresă:  
          <a
    href="https://www.google.com/maps?q=Calea+Urseni+18A,+Timișoara"
    target="_blank"
    rel="noopener"
  >
<i class="fa-solid fa-location-dot"></i>
          Calea Urseni 18A, Timișoara
        </a>
        </p>
      </div>

      <!-- PROGRAM -->
      <div class="footer-column">
        <h3>Program</h3>
        <p>Luni – Vineri</p>
        <p>12:00 – 18:00</p>
      </div>

      <!-- SOCIALS -->
<div class="footer-column">
  <div class="footer-socials-row">
    <h3>Urmărește‑ne</h3>
        <a
  href="https://www.facebook.com/profile.php?id=61569247984229"
  target="_blank"
  class="social-icon facebook"
  aria-label="Facebook"
  rel="noopener">
  <i class="fa-brands fa-facebook-f"></i>
</a>

    <a
      href="https://www.instagram.com/hristinaeducare"
      target="_blank"
      class="social-icon instagram"
      aria-label="Instagram">
      <i class="fa-brands fa-instagram"></i>
      </a>
  </div>
</div>

        </div>
      </div>

    </div>

    <!-- COPYRIGHT -->
    <div class="footer-bottom">
      <div class="container">
      <p>© 2026 Centrul After‑School Hristina EduCare</p>
      <a href="cookies.html">Politica de Cookie-uri</a>
    </div>
    </div>

  </div>
</footer>